.registerpage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0px 0px 0px;
    padding: 0;
}
.registerpage1{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.image img{
    width: 84%;
    height: 450px;
}
.logoregister img{
    position: absolute;
    width: 200px;
    margin-right: 10px;
}

.UserRegister form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin: 10px 80px 10px 0px;
}
.UserRegister button{
    width: 100%;
    height: 39px;
    border-radius: 5px;
    background-color: rgb(94, 94, 214);
    color: white;
    border: none;
}
.backarrow img{
    position: absolute;
    top: 0;
    margin-top: 62px;
}

.UserRegister input{
    outline: none;
    border: none;
    background-color: rgba(220, 220, 220, 0.478);
}
